/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/*NAVIGATION*/

nav {
    display: flex;

    justify-content: space-around;
}

#logo {
    width: 25%;
    padding: 0;
    margin: 0;
}

#logo img {
    max-width: 100%;
}

#links {

    /* border: 2px black solid; */

    width: 75%;

    font-size: 2rem;
    font-weight: bold;

    text-align: center;

    justify-content: space-evenly;

    padding: .5rem;
    margin: 1rem;

    text-align: center;

}

#links a {

    /* border: 2px black solid; */

    text-decoration: none;

    color: black;

    padding: 2rem;

}

/*JUMBO IMG*/

#jumboImg {

    max-width: 100%;
}


/*MAIN */

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;

    font-weight: bold;
    font-size: 1.5rem;

    margin: .75rem;


}

/*BOXES*/


.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
} */

.middle-content .boxes .box1 {
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box2 {
    width: 12.5%;
    height: 100px;
    background: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box3 {
    width: 12.5%;
    height: 100px;
    background: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box4 {
    width: 12.5%;
    height: 100px;
    background: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box5 {
    width: 12.5%;
    height: 100px;
    background: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box6 {
    width: 12.5%;
    height: 100px;
    background: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box7 {
    width: 12.5%;
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box8 {
    width: 12.5%;
    height: 100px;
    background: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box9 {
    width: 12.5%;
    height: 100px;
    background: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box10 {
    width: 12.5%;
    height: 100px;
    background: dodgerblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

/*BOTTOM CONTENT*/

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5rem;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}



/*FOOTER*/

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


@media(max-width: 800px) {

    nav {

        justify-content: center;
    }

    #jumboImg {
        max-width: 100%;

        margin: 4rem;
    }

    .top-content {

        flex-direction: row;

        flex-wrap: wrap;

    }

    .top-content .text-container {

        width: 100%;
    }


    /*BOXES*/

    .middle-content .boxes {

        display: flex;

    }

    .middle-content .boxes .box1 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box2 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box3 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box4 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box5 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box6 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box7 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box8 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box9 {

        flex-wrap: wrap;

        width: 40%;


    }

    .middle-content .boxes .box10 {

        flex-wrap: wrap;

        width: 40%;


    }

    /*BOTTOM SECTION*/

    .bottom-content {
        flex-wrap: wrap;

        justify-content: space-evenly;

    }

    .bottom-content .text-container {

        width: 35%;

        padding: 2rem;
    }

    /*FOOTER */

    footer nav {

        justify-content: center;

        text-align: center;

    }

    footer nav a {
        font-size: 2rem;

        padding: 1rem;
    }

}


@media(max-width: 500px) {
    body{

        width: 500px;
    }

    nav {

        flex-direction: column;

        align-items: center;
    }

    #links {

        display: flex;

        flex-direction: column;

    }

    #jumboImg {

        align-content: center;

        width: 100%;

        padding: 0;

        margin: 0;
    }

    .top-content .text-container {

        align-items: center;

        padding: 7rem;
        margin: 0;

    }

    .boxes {

        flex-direction: column;

        align-items: center;
    }

    footer nav {

        align-items: center;

        justify-content: center;

        padding: 0;

        margin: 0;
    }














}